<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MessageWalls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MessageWalls.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordHash" serializeAs="String">
                <value />
            </setting>
            <setting name="UserInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberUser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RefreshMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RefreshSeconds" serializeAs="String">
                <value>2</value>
            </setting>
        </MessageWalls.Properties.Settings>
    </userSettings>
</configuration>